body {
    display: flex;
    flex-wrap: wrap;
}

div.logos {
    width: 100%;
}

div.description {
    width: 100%;
}

div.link-sections {
    display: flex;
    align-content: center;
    width: 40em;
}

div.download, div.manual {
    width: 40em;
    text-align: center;
}
